<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>

<body>
    <div class="titulo">Sotaques do Brasil (Les accents du Brésil)</div>
    <div class="container">
        <div class="videos">
            <div class="lugar" id="lugar"></div>
            <div class="video"></div>
        </div>
    </div>
    <div class="sobre">J'espère que ça t'aide ^^<br><br>Fait pour moi,<br> Luiz.</div>
</body>
<script>var s = <%-JSON.stringify(sotaques)%> </script>
<script src="../js/main.js"></script>

</html>